html {
  box-sizing: border-box;
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
    Sans-Serif;
  font-weight: normal;
  color: #272727;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
  font-size: 1.5em;
}

section {
  border: solid 1px black;
}

.button {
  border: 0;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(52, 52, 54);
  color: rgb(255, 255, 255);
  font-size: 15px;

}

.button--small {
  border: 0;
  padding: 3px;
  border-radius: 3px;
  background-color: rgb(52, 52, 54);
  color: rgb(255, 255, 255);
  font-size: 12px;
}

.codepen {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr 1fr 30px;;
  background: #343436;
  color: rgb(255, 255, 255);
  grid-gap: 5px;
}

.pen {
  display: grid;
  grid-template-columns: 1fr repeat(5, auto);
  align-items: center;
  grid-gap: 10px;
  background: black;

}

.editor {
  display: grid;
  grid-template-rows: auto 1fr;
}

.editor__header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.editor__code {
  display: grid;
  grid-template-columns: auto 1fr;
}

.editor__gutter {
  display: grid;
  grid-template-columns: auto;  
  grid-template-rows: repeat(auto-fill, 20px); 
}

.code {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgb(27, 43, 52);
}

.editor__input {
  background-color:  rgb(27, 43, 52);
  border: 0;
  font-weight: 400;
  font-family: monospace;
  font-size: 16px;
  font-weight: 400;
  color: rgb(128, 128, 128);
  resize: none;
}

.settings {
  background: black;
  display: grid;
  grid-template-columns: repeat(3, auto) 1fr;
  align-items: center;
  grid-column-gap: 5px;
}

.preview iframe {
  background: white;
  width:100%;
  height: 100%;
}



