:root {
  --bold-color: #ffc600;
  --light-color: white;
}

body {
  font-size: 15px;
}

button {
  background: #ffc600;
  border: 0;
  padding: 10px 20px;
}

img {
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-gap: 20px;

  grid-template-areas:
    "top"
    "menu";
}

@media (max-width: 985px) {
  .wrapper {
    grid-template-areas:
      "menu"
      "top";
  }
}

.top {
  grid-area: top;


  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "hero hero cta1"
    "hero hero cta2";
}

.hero {
  background-image: url("./images/taco.jpg");
  background-attachment: scroll;
  background-origin: padding-box;
  background-position: 100% 100%;
  background-size: cover;
  height: 400px;
  grid-area: hero;

  display: grid;
  justify-items: start;
}

.hero h1 {
  background-color: var(--bold-color);  
  align-self: end;
  margin-left: 50px;
  padding: 5px;
}

.hero p {
  background-color: var(--bold-color);  
  align-self:start;
  margin-left: 50px;
  padding: 5px;
}

.price {
  font-size: 60px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 300;
  align-self: end;
}

.cta {
  background: var(--bold-color);
  width: 100%;
  display: grid;
  
  justify-items: center;
  align-items: start;
}

.cta p {
  margin: 0;  
}

.cta1 {
  grid-area: cta1;

}

.cta2 {
  grid-area: cta2;
}

@media (max-width: 685px) {
  .top {
    grid-template-areas:
      "hero hero"
      "cta1 cta2";
  }
}

@media (max-width: 600px) {
  .top {
    grid-template-areas:
      "hero"
      "cta1"
      "cta2";
  }
}

/*
--------------------------------------------------------------------
*/

.menu {
  grid-area: menu;
}

.menu button {
  display: none;
}
.menu .close {
  display: none;
}

.menu ul {
  padding: 0;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 1fr);  
}

@media (max-width: 985px) {
  .menu button {
    display: block;
  }

  .menu ul {
    display: none;
  }
}

.menu li {
  list-style: none;
  display: inline;
  background-color: var(--bold-color);
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  font-size: 16pt;
}

.menu a {  
  color: black;
  text-decoration: none;
  
}

.menu a:visited {
  color: black;
  text-decoration: none;
}

/*
--------------------------------------------------------------------
*/

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.feature {
  background-color: var(--light-color);
  display: grid;
  justify-items: center;  
  text-align: center;
  padding: 10px;
}

.feature p {
  color: rgba(0,0,0,0.5);
  text-shadow: rgba(0,0,0,0.07) 0px 2px 0px;
}
.icon {
  font-size: 50px;
}

/*
--------------------------------------------------------------------
*/

.about {
  display: grid;
  
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

  background: white;
  align-items: center;
  justify-items: start;

  padding: 40px;
}

/*
--------------------------------------------------------------------
*/

.gallery {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(208px, 1fr));
}

.gallery h2 {
  grid-column-start: 1;
  grid-column-end: -1;

  display: grid;
  justify-content: center;
}

.gallery img {
  width: 100%;
}